html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/************Footer**************/
footer {
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 0;
    background-color: dimgrey;
}

.footer_content p {
    padding: 10px;
    text-align: center;
}
/*****************************/

.wrapper {
    width: 100%;
    height: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
    background-image: url("back1.jpg");
}

/********Header*************/
.foodHeader{
    background-color: dimgrey;
}

.foodHeader h1 {
    font-size: 56px;
    text-align: center;
}
/*****************************/

.newinput {
	margin-left: 5px;
}

#add { /*add button*/
	margin-left: 5px;
  font-size: 18px;
  display: inline-block;
  border-radius:4px;
  padding: 0.2em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
}
#add:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

#submit { /*submit button*/
  margin-left: 5px;
  font-size: 22px;
  display: inline-block;
  border-radius:4px;
  padding: 0.2em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
}
#submit:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

/********User input space********/
.userInput {
    height: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.userInput form {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}
.userInput h2 {
<<<<<<< HEAD
  font-size: 26px;
}
.userInput p {
  font-size:20px;
}
/******************************/
=======
    text-align: center;
}

header {
    background-color: dimgrey;
    text-align: center;
}

.block1 h2 {
    padding: 1em;
    text-align: center;
}

.block1 form {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
}
>>>>>>> b7b6aff7d3bc06c33c324377a5367d53ddf5ff35
